/* A huge thanks for Project medium.css: https://github.com/lucagez/medium.css */
.blog-content {
  width: 740px;
  max-width: 100%;
}

.blog-content h2 {
  font-family: Lato, sans-serif;
  font-size: 26px;
  font-weight: 700;
  padding: 0;
  margin: 56px 0 -13px -1.883px;
  text-align: left;
  line-height: 34.5px;
  letter-spacing: -0.45px;
}

.blog-content p {
  margin-top: 21px;
  font-family: Lora, serif;
  font-size: 21px;
  letter-spacing: -0.03px;
  line-height: 1.58;
}

.blog-content li {
  font-family: Lora, serif;
  font-size: 21px;
  letter-spacing: -0.03px;
  line-height: 1.58;
}

.blog-content pre {
  overflow-x: auto;
  font-family: Solaris, monospace;
  font-style: italic;
  letter-spacing: -0.36px;
  margin: 45px 0 23px 0;
  color: rgba(0, 0, 0, 0.68);
  background-color: rgba(240, 240, 240, 0.68);
}

.blog-content img {
  max-width: 100%;
  height: auto;
}
